{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block title %}Профиль{% endblock %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Информация о вашем профиле</h1>
</div>
<div class="px-md-4">
  <p>Аватар: <img src="{{ object.avatar | media_filter }}" style="width: 50px" alt="{{ object.name_product }}"></p>
  <p>Почта: {{ object.email }}</p>
  <p>Имя: {{ object.first_name }}</p>
  <p>Фамилия: {{ object.last_name }}</p>
  <p>Номер телефона: {{ object.phone_number }}</p>
  <p>Страна: {{ object.country }}</p>
</div>
<div class="px-md-4">
    <a class="link" href="/user/{{ user.id }}/update/">Редактировать</a>
    <a class="link" href="/">Назад</a>
</div>
{% endblock %}