{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block title %}Категории{% endblock %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Выберите нужную категорию</h1>
</div>
<div class="container">
    <div class="list-group list-group-numbered list-group-item-primary row d-flex text-center col-3">
        {% for category in object_list %}
            <a href="{% url 'catalog:products_by_category' category_id=category.id %}" class="list-group-item list-group-item-action">
                {{ category.name_category}}
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}